<a href="https://colab.research.google.com/github/CmilAmaya/Pyhton-/blob/main/Tarea_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tarea 2 - Programación de Computadores Grupo 18 
El objetivo de esta actividad es aplicar sus conocimientos en **Estructuras condicionales** y **Estructuras iterativas**.

## Condicionales

1. Dado el centro y el radio de un círculo, determinar si un punto de ℝ^2 pertenece o no al interior del círculo. En el caso positivo mostrar el mensaje: "Si está dentro del círculo" y en el caso contrario "No está dentro del círculo". Recuerde la ecuación de la circunferencia (x-a)² + (y-b)² = r².

In [ ]:
def punto_circulo(a, b, r, x, y):
  minX=(a-r)
  maxX=(a+r)
  minY=(b-r)
  maxY=(b+r)
  resp=""
  if(minX<x<maxX and minY<y<maxY):
    resp="Si está dentro del círculo"
  else:
    resp="No está dentro del círculo"
  return resp

In [ ]:
punto_circulo(3, 5, 6, 6, 10)

3 5 -3 9 -1 11

'Si está dentro del círculo'

2. Dadas tres longitudes positivas A, B y C determinar si con esas longitudes se puede construir un triángulo. En el caso positivo mostrar el mensaje: "Construyen un triángulo" y en el caso contrario "No construyen un triángulo".

In [ ]:
def triangulo(A, B, C):
  resp=""
  if(A+B>C):
    resp="Construyen un triángulo"
  else:
    resp="No construyen un triángulo"
  return resp

In [ ]:
triangulo(5.9,6.8,15)

'No construyen un triángulo'

## Ciclos *while*

3. Diseñar una función que permita calcular el épsilon (ϵ) de la máquina. El épsilon de máquina es el número decimal más pequeño que sumado a 1 se puede representar de manera precisa en la máquina (que no es redondeado), es decir retorna un valor diferente de 1, éste da una idea de la precisión o número de cifras reales que pueden ser almacenadas en la máquina. La idea es realizar un ciclo en el cual se realiza la operación 1 + ϵ para potencias de 2 desde  ϵ = 2^0 y continuando con potencias decrecientes de 2 (ϵ = 2^−1, ϵ = 2−2, ϵ = 2−3, ϵ = 2−4, . . .) hasta obtener que el resultado de la suma 1 + ϵ no se altere.

In [ ]:
def epsilon():
  eps=1
  while(1+eps>1):
    eps=eps/2
  return (eps/2)

In [ ]:
epsilon()

5.551115123125783e-17

## Ciclo *for*

4. Imprimir los números pares en forma descendente hasta 2 que son menores o iguales a un número natural (n). El valor de n siempre va a ser mayor o igual a 2.

**Ejemplo**
```
Input: 11
Output: 10
        8
        6
        4
        2

```

In [ ]:
def lista_descendente(n):
  for i in range(n, 1, -1):
    if(i%2==0):
      print(i)

In [ ]:
lista_descendente(12)

12
10
8
6
4
2

5. Definir el procedimiento para calcular la potencia x^n sin utilizar el operador (**). Asuma que el exponente n siempre va a ser un número entero positivo.

In [ ]:
def potencia(x, n):
  resp=1
  for i in range(1, n+1):
    resp=resp*x
    
  return resp

In [ ]:
potencia(5,2)

25

6. Definir el procedimiento para visualizar las tablas de multiplicar del 1 a un número n. Los valores deben estar organizados en forma de tabla y separados por tabulaciones (utilice el comando "\t")

**Ejemplo**
```
Input: 3
Output: 1	2	3	
        2	4	6	
        3	6	9	
```

In [ ]:
def tablas(n):
 for i in range(1,n+1):
   for s in range(1,n+1):
    print(i*s, end="\t")

In [ ]:
tablas(3)

1	2	3	2	4	6	3	6	9