<a href="https://colab.research.google.com/github/CmilAmaya/Python-/blob/main/Tarea_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tarea 4 - Programación de Computadores Grupo 18 
El objetivo de esta actividad es reforzar y aplicar sus conocimientos en **Listas**, **Tuplas**, **Matrices** y **Diccionarios**. La actividad está compuesta de *7* ejercicios, los cuales deben ser entregados en la plataforma de califiación automática UNCode.

Fecha de entrega: **28 de enero de 2022**

## Listas (1.25)

1. **Productos entre vectores** Desarrollar un algoritmo que imprima el producto directo y el producto punto de dos vectores de números reales del mismo tamaño. Sean `v = [v_0, v_1, . . . , v_(n−1)]` y `w = [w_0,w_1, . . . ,w_(n−1)]` dos vectores, el producto directo de v y w es el vector: `[v_0 ∗ w_0, v_1 ∗ w_1, . . . , v_(n−1) ∗ w_(n−1)]` y el producto punto es el número: `v_0 ∗ w_0 + v_1 ∗ w_1 + · · · + v_(n−1) ∗ w_(n−1).`

  **Ejemplo:**
  ```
  Input: [1,2], [2, 1]
  Output: [2, 2] 4
  ```

**Pista:** Para recorrer dos objetos iterables simultáneamente se puede utilizar la siguiente sintaxis:
```
a = [1, 2]
b = ["Uno", "Dos"]

for numero, texto in zip(a, b):
    print("Número", numero, "Letra", texto)

# Número 1 Letra Uno
# Número 2 Letra Dos
```

In [ ]:
def productos(v_1, v_2):
  c = []
  v1 = v_1
  v2 = v_2
  prod=0

  for vec1, vec2 in zip(v1, v2):
      prod=vec1*vec2
      c.append(prod)
      producto=0
      for numero in c:
          producto += numero
  return c, producto

In [ ]:
productos([1,2], [2, 1])

([2, 2], 4)

2. **Mover ceros** Construir un algoritmo que desplace todos los ceros que aparezcan en un vector al final del mismo vector. El programa debe retornar el nuevo vector con los números del vector original seguidos de los ceros encontrados.

  **Ejemplo:**
  ```
  Input: [0, 1, 2]
  Output: [1, 2, 0]
  ```

In [ ]:
def ceros(v):
  cont = 0
  a=[]
  for i in v:
      if( i == 0):
        cont+=1
      else:
        a.append(i)
  for s in range(cont):
      a.append(0)
  return a

In [ ]:
ceros([0, 0, 0, 40, 2, -100])

[40, 2, -100, 0, 0, 0]

## Tuplas (1.25)

3. **Lista de nombres:** Escribir una función que a partir de una lista de tuplas cada una con el siguiente formato: (*Apellido*, *Primer Nombre*, *Segundo Nombre*), retorne una lista de cadenas donde cada una contenga primero el nombre, luego la inicial del segundo nombre seguida de un punto, y finalmente el apellido.

  **Ejemplo:**
  ```
  Input: [(Chaparro, Edna, Johanna), (Ramirez, Juanita, Pepita)]
  Output: ['Edna J. Chaparro', 'Juanita P. Ramirez']
  ```

In [ ]:
def nombres(lista):
    l=[]
    nuevo=""
    for i in lista:
        p_nombre=i[1]
        s_nombre=i[2]
        u_nombre=i[0]
        nuevo=s_nombre[0]+"."
        nombre=p_nombre + " " + nuevo +" "+ u_nombre
        l.append(nombre)
    return l

In [ ]:
nombres([('Bernal', 'Egan', 'Arley'),
         ('Quintana', 'Nairo', 'Alexander'),
         ('Herrera', 'Luis', 'Alberto'),
         ('López', 'Miguel', 'Ángel'),
         ('Chaves', 'Jhoan', 'Esteban')])

['Egan A. Bernal',
 'Nairo A. Quintana',
 'Luis A. Herrera',
 'Miguel Á. López',
 'Jhoan E. Chaves']

4. **Empaquetar listas:** Escribir una función que permita empaquetar los elementos de una listas, es decir, generar una lista de tuplas que indiquen la cantidad de repeticiones de números consecutivos *(elemento, repeticiones)*.  

  **Ejemplo:**
  ```
  Input: [0, 0, 1, 0, 2]
  Output: [(0, 2) , (1, 1) , (0, 1), (2, 1)]
  ```

In [206]:
def empaquetar(lista):
  lista.append(0)
  a = lista[0]
  l_up=[]
  b = 0
  for i in range(len(lista)):
      if a == lista[i]:
        b+=1
      else:
        l_up.append((a,b))
        a = lista[i]
        b = 1
  return l_up

In [207]:
empaquetar([1, 1, 1, 3, 5, 1, 1, 3, 3])

[(1, 3), (3, 1), (5, 1), (1, 2), (3, 2)]

In [192]:
empaquetar([19, 19, 70, 80, 80, 51, 14, 25, 6, 6, 6, 6, 18])

[(19, 2), (70, 1), (80, 2), (51, 1), (14, 1), (25, 1), (6, 4), (18, 1)]

In [195]:
lista=[19, 19, 70, 80, 80, 51, 14, 25, 6, 6, 6, 6, 18]
lista.append(0)
a=lista[0]
print(lista)
print(a)

[19, 19, 70, 80, 80, 51, 14, 25, 6, 6, 6, 6, 18, 0]
19

# **Un algoritmo que recorra la lista de abajo para arriba :)**

## Matrices (1.25)

5. **Matriz mágica:** Desarrollar un algoritmo que determine si una matriz cuadrada se puede definir como mágica. Una matriz es mágica cuando las sumas de cada una sus filas, columnas y diagonales es el mismo valor. Si la matriz es mágica, el programa debe retornar el valor de las sumas, en el caso contrario se retorna el mensaje "No es un matriz mágica".

  
  **Ejemplo:** Matriz mágica 
  ```
  Input: [[1, 1],[1, 1]]
  Output: 2
  ```
  **Ejemplo:** Matriz no mágica
  ```
  Input: [[1, 2],[3, 4]]
  Output: 'No es un matriz mágica'
  ```

In [ ]:
def matriz_magica(matriz):
    for i in range(len(matriz)):
        fila=sum(matriz[i])
        for j in range(len(matriz[0])):
            columna=sum(matriz[j])   
    if len(matriz)>3:
        diag=matriz[0][0]+matriz[1][1]+matriz[2][2]+matriz[3][3] 
    elif len(matriz)<=3:
        diag=matriz[0][0]+matriz[1][1]+matriz[2][2]
    if fila and columna == diag:
      return fila
    else:
      return "No es un matriz mágica"

In [ ]:
matriz_magica([[1, 1, 1, 1],[1, 1, 1, 1],[1, 1, 1, 1], [1, 1, 1, 1]])

4

In [ ]:
matriz_magica([[2, 1, 3],[3, 2, 1],[1, 3, 2]])

6

In [ ]:
matriz_magica([[8, 1, 6],[3, 5, 7],[4, 9, 2]])

15

In [ ]:
matriz_magica([[1, 2, 1, 3],[11, 21, -1, 1],[1, 0, 1, 34], [13, 5, 61, 10]])

'No es un matriz mágica'

## Diccionarios (1.25)

6. **Mezcla de diccionarios:** Desarrollar una función que retorne la mezcla de dos diccionarios, es decir, que el diccionario final contenga las etiquetas (*keys*) de los dos diccionarios. En el caso de que exista una clave repetida en ambos diccionarios, se debe asignar el valor del primer diccionario.

  **Ejemplo:**
  ```
  Input: {1: 'manzana', 2: 'naranja'}, {1: 'pera'}
  Output: {1: 'manzana', 2: 'naranja'}
  ```

In [ ]:
def mezclar(D1, D2):
    D2.update(D1)
    D1.update(D2)
    return D1

In [ ]:
mezclar({1: 'manzana', 2: 'naranja'}, {1: 'pera'})

{1: 'manzana', 2: 'naranja'}

In [ ]:
mezclar({1: 'manzana', 2: 'naranja'}, {1: 'pera', 3: 'uva'})

{1: 'manzana', 2: 'naranja', 3: 'uva'}

7. **Familia Madrigal:** Desarrollar un programa que dada una lista de diccionarios, los cuales representan los integrantes de la Familia Madrigal con el siguiente formato: `{"nombres":"Maribel", "apellidos":"Madrigal", "edad":15}`, imprima una lista con los nombres y apellidos de las personas que están en un rango de edades específico.

In [186]:
def edades(min, max, familia):
  dic={}
  a=[]
  for i in familia:
      dic["miembro"]=i
      for s in dic:
        e=dic[s]["edad"]
        if e>=min and e<=max:
            n=dic[s]["nombres"] +" "+ dic[s]["apellidos"]
            a.append(n)    
        else:
          pass
  return a

In [187]:
familia_Madrigal = [{"nombres":"Maribel", "apellidos":"Madrigal", "edad":15}, {"nombres":"Antonio", "apellidos":"Madrigal", "edad":5}, {"nombres":"Pepa", "apellidos":"Madrigal", "edad":50}, {"nombres":"Camilo", "apellidos":"Madrigal", "edad":15}, {"nombres":"Félix", "apellidos":"Madrigal", "edad":52}, {"nombres":"Dolores", "apellidos":"Madrigal", "edad":21}, {"nombres":"Isabela", "apellidos":"Madrigal", "edad":21}, {"nombres":"Luisa", "apellidos":"Madrigal", "edad":18}, {"nombres":"Julieta", "apellidos":"Madrigal", "edad":50}, {"nombres":"Agustín", "apellidos":"Madrigal", "edad":50}, {"nombres":"Alma", "apellidos":"Madrigal", "edad":75}, {"nombres":"Bruno", "apellidos":"Madrigal", "edad":50}] 
edades(27, 59, familia_Madrigal)

['Pepa Madrigal',
 'Félix Madrigal',
 'Julieta Madrigal',
 'Agustín Madrigal',
 'Bruno Madrigal']

In [188]:
familia_Madrigal = [{"nombres":"Maribel", "apellidos":"Madrigal", "edad":15}, {"nombres":"Antonio", "apellidos":"Madrigal", "edad":5}, {"nombres":"Pepa", "apellidos":"Madrigal", "edad":50}, {"nombres":"Camilo", "apellidos":"Madrigal", "edad":15}, {"nombres":"Félix", "apellidos":"Madrigal", "edad":52}, {"nombres":"Dolores", "apellidos":"Madrigal", "edad":21}, {"nombres":"Isabela", "apellidos":"Madrigal", "edad":21}, {"nombres":"Luisa", "apellidos":"Madrigal", "edad":18}, {"nombres":"Julieta", "apellidos":"Madrigal", "edad":50}, {"nombres":"Agustín", "apellidos":"Madrigal", "edad":50}, {"nombres":"Alma", "apellidos":"Madrigal", "edad":75}, {"nombres":"Bruno", "apellidos":"Madrigal", "edad":50}] 
edades(0, 5, familia_Madrigal)

['Antonio Madrigal']